@font-face {
    font-family: "Cormorant Garamond", serif;
    src: url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400&display=swap");
}

/* div h1 {
    font-family: "Cormorant Garamond", serif;
    font-weight: 300;
    font-size: 4rem;

    justify-content: center;
    text-align: center;
}

div {
    font-family: "Cormorant Garamond", serif;
    font-weight: 300;
    font-size: 1.5rem;

    justify-content: center;
    text-align: center;
} */
